.one {
	width:100px;
	height:200px;
	background-color: lightblue;
}

.two {
	width:100px;
	height:400px;
	background-color: red;
	left:150px;
}

.one, .two {
	display: inline-block;
	position: absolute;
}